@model Assignment_2_NEW.Models.Category

@{
    ViewData["Title"] = "Tạo mới";
}

<h1>Tạo mới</h1>
<hr />
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label asp-for="CategoryId" class="control-label">ID danh mục</label>
                        <input asp-for="CategoryId" class="form-control" />
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="col-md-9">
                    <label asp-for="CategoryName" class="control-label">Tên danh mục</label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <label asp-for="CategoryDesc" class="control-label">Mô tả</label>
                    <textarea asp-for="CategoryDesc" class="form-control"></textarea>
                    <span asp-validation-for="CategoryDesc" class="text-danger"></span>
                </div>

                <button type="submit" value="Create" class="btn btn-primary">Tạo mới</button>
                <a class="btn btn-secondary" asp-action="Index">Về trang trước</a>
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
